// Footer Start
.footer.container-fluid.position-relative.bg-dark.bg-light-radial.text-white-50.py-4.py-sm-5.px-3.px-md-5
  .row.g-5
    .col-lg-6.pe-lg-5
      a.navbar-brand(href="/")
        h1.m-0.display-4.text-uppercase.text-white
          i.bi.bi-building.text-primary.me-2
          | BAJEJ
      p Aliquyam sed elitr elitr erat sed diam ipsum eirmod eos lorem nonumy. Tempor sea ipsum diam  sed clita dolore eos dolores magna erat dolore sed stet justo et dolor.
      p
        i.fa.fa-map-marker-alt.me-2
        | Rumukwurushi, PH, Nigeria
      p
        i.fa.fa-phone-alt.me-2
        | +234 8033 099639
      p
        i.fa.fa-envelope.me-2
        | bajejoil@gmail.com
      .d-flex.justify-content-start.mt-4
        a.btn.btn-lg.btn-primary.btn-lg-square.rounded-0.me-2(href="#")
          i.fab.fa-twitter
        a.btn.btn-lg.btn-primary.btn-lg-square.rounded-0.me-2(href="#")
          i.fab.fa-facebook-f
        a.btn.btn-lg.btn-primary.btn-lg-square.rounded-0.me-2(href="#")
          i.fab.fa-linkedin-in
        // <a class="btn btn-lg btn-primary btn-lg-square rounded-0" href="#"><i class="fab fa-youtube"></i></a>
    .col-lg-6.ps-lg-5
      .row.g-5
        .col-sm-6
          h4.text-white.text-uppercase.mb-4 Quick Links
          .d-flex.flex-column.justify-content-start.f-links
            a.text-white-50.mb-2(href="/")
              i.fa.fa-angle-right.me-2
              | Home
            a.text-white-50.mb-2(href="/about")
              i.fa.fa-angle-right.me-2
              | About Us
            a.text-white-50.mb-2(href="/services")
              i.fa.fa-angle-right.me-2
              | Our Services
            a.text-white-50.mb-2(href="/team")
              i.fa.fa-angle-right.me-2
              | Meet The Team
            a.text-white-50(href="/contact")
              i.fa.fa-angle-right.me-2
              | Contact Us
        .col-sm-6
          h4.text-white.text-uppercase.mb-4 Popular Links
          .d-flex.flex-column.justify-content-start.f-links
            a.text-white-50.mb-2(href="/")
              i.fa.fa-angle-right.me-2
              | Home
            a.text-white-50.mb-2(href="/about")
              i.fa.fa-angle-right.me-2
              | About Us
            a.text-white-50.mb-2(href="/services")
              i.fa.fa-angle-right.me-2
              | Our Services
            a.text-white-50.mb-2(href="/team")
              i.fa.fa-angle-right.me-2
              | Meet The Team
            a.text-white-50(href="/contact")
              i.fa.fa-angle-right.me-2
              | Contact Us
        .col-sm-12
          h4.text-white.text-uppercase.mb-4 Newsletter
          .w-100
            .input-group
              input.form-control.border-light(type="text", style="padding: 20px 30px;", placeholder="Your Email Address")
              button.btn.btn-primary.px-4 Sign Up
.container-fluid.bg-dark.bg-light-radial.text-white.border-top.border-primary.px-0
  .d-flex.flex-column.flex-md-row.justify-content-between
    .py-4.px-5.text-center.text-md-start
      p.mb-0 &copy; 
        a.text-primary(href="/") www.bajejoil.com
        | . All Rights Reserved.
    .py-4.px-5.bg-primary.footer-shape.position-relative.text-center.text-md-end
      p.mb-0 Designed by 
        a.text-dark(href="#") Delight&apos;s tech concept